<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Home</title>
</head>
<body>

<header class="header" id="header">
    <nav>
        <ul class="nav-links">
            <li><a href="/portfolio">Articles</a></li>
            <li><a href="/population">Population Info</a></li>
            <li><a href="/advice">Today's advice</a></li>
            <li class="profile-btn">
                <a href="/profile">Profile</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="main-container container">
        <div class="main-content">
            <h1>Welcome to our app!</h1>
            <p>Here you can find the best articles and some interesting info</p>
        </div>
    </div>
</main>

<footer class="footer" id="footer">
    <p>BDA-2303</p>
    <p>Vladislav Obedkov</p>
    <p>&copy; 2024</p>
</footer>
</body>
</html>
