<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <title>Login</title>
</head>
<body>
<div class="auth-container">
    <div class="auth-content">
        <h1>Login to your account</h1>
        <form class="auth-form login-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="token">2FA Token (if enabled):</label>
                <input type="text" id="token" name="token">
            </div>
            <p class="error-message"></p>
            <div class="submit-btn-container">
                <button type="submit">Login</button>
            </div>
            <p class="alternate">Don't have an account? <a href="/auth/register">Register here</a></p>
        </form>
    </div>
</div>
<script src="/scripts/auth/login.js"></script>
</body>
</html>
