<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <title>Profile</title>
</head>
<body>
<header class="header" id="header">
    <nav>
        <ul class="nav-links">
            <li><a href="/portfolio">Articles</a></li>
            <li><a href="/population">Population Info</a></li>
            <li><a href="/advice">Today's advice</a></li>
            <li class="profile-btn">
                <a href="/profile">Profile</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="profile-container container">
        <h1>Your profile</h1>
        <div class="profile-info">
            <div class="profile-info-item username">
                <h2>Username:</h2>
                <p></p>
            </div>
            <div class="profile-info-item email">
                <h2>Email:</h2>
                <p></p>
            </div>
            <div class="profile-info-item firstName">
                <h2>First name:</h2>
                <p></p>
            </div>
            <div class="profile-info-item lastName">
                <h2>Last name:</h2>
                <p></p>
            </div>
            <div class="profile-info-item role">
                <h2>Role:</h2>
                <p></p>
            </div>
            <div class="profile-info-item age">
                <h2>Age:</h2>
                <p></p>
            </div>
            <div class="profile-info-item gender">
                <h2>Gender:</h2>
                <p></p>
            </div>
            <div class="profile-info-item tfa">
                <h2>Two Factor Authentication:</h2>
                <p></p>
            </div>
            <div class="profile-logout-button">
                <button>Log out</button>
            </div>
        </div>
    </div>
</main>
<footer class="footer" id="footer">
    <p>BDA-2303</p>
    <p>Vladislav Obedkov</p>
    <p>&copy; 2024</p>
</footer>
<script src="/scripts/profile.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
