.bank-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#filters-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#filters-form label {
    margin-right: 3px;
}

#filters-form select,
#filters-form input {
    padding: 5px;
}

#filters-form button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#filters-form button:hover {
    background-color: #0056b3;
}
